.nav-search-bar {
  //justify-content: center;
  display: flex;
  flex-direction: row;
  height: 100px!important;
}

.nav-brand {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.search-box {
  justify-content: center;
  display: flex;
  float: left;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
  //box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

  input,button{
    //background-color: #fff;
    border: 0 rgba(0,0,0,.2);
    padding: 8px 1px;
    overflow: auto;
    height: 56px;
    position: relative;

    button::before {
      content: ' ';
      display: block;
      height: 26px;
      border-left: 1px solid #e6e6e6;
      position: absolute;
      top: 6.5px;
    }
  }
}