.nav-search-bar {
  height: 75px!important;
  background-color: #fff159;
}
.nav-container {
  max-width: 1200px;
  margin:auto;
  display: flex;
  flex-direction: row;
  padding: 16px 0 16px 0;
}
.nav-brand {
  margin: auto 0;
}

.search-box {
  justify-content: left;
  display: flex;
  float: left;
  margin: auto 0 auto 16px;
  box-sizing: content-box;
  width: 100%;

  form {
    width: 100%;
  }

  input,button{
    border: 0 rgba(0,0,0,.2);
    padding: 8px 1px;
    overflow: auto;
    min-height: 50px;
    max-height: 56px;
  }

  input{
    height: 21px;
    width: 95%;
    padding-left: 5px;
    vertical-align: bottom;
  }

  button{
    height: 25px;
    color: white;
    width: 5%;
    overflow-x:hidden;
    overflow-y:hidden;
    img {
      width: 25px;
      height: 25px;
      margin:0;
    }
  }
}